<div class="container-fluid bg-dark" style="--bs-bg-opacity: .95;">
    <footer class="py-5 text-white" style="padding: 45px;">
      <div class="row">
        <div class="col-6 col-md-3 mb-3">
          <h5>General</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="/aboutUs" class="nav-link p-0 text-secondary">About Us</a></li>
                <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-secondary">Blog</a></li>         
                <li class="nav-item mb-2"><a href="contactUs" class="nav-link p-0 text-secondary">Contact Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">FAQ</a></li>
   
            </ul>
        </div>
  
        <div class="col-6 col-md-3 mb-3">
          <h5>Payment</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><img height="30px" src="https://i.ibb.co/QmFKrbx/mc-symbol-opt-53-3x.png" alt="mc-symbol-opt-53-3x" border="0"></li>
                <li class="nav-item mb-2"><img  height="15px" src="https://i.ibb.co/2hRmh7y/Visa-Brandmark-White-RGB-2021.png" alt="Visa-Brandmark-White-RGB-2021" border="0"></li>
                <li class="nav-item mb-2">
                    <!-- PayPal Logo -->
                    <table border="0">
                        <tr>
                            <td align="center"></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <img height="40px" src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_secured_by_pp_2line.png" border="0" alt="Secured by PayPal"><div style="text-align:center">
                            </td>
                        </tr>
                    </table>
                    <!-- PayPal Logo -->
                </li>
                <li class="nav-item mb-2"><img height="30px" src="https://i.ibb.co/q5twTCQ/Stripe-wordmark-white-small.png" alt="Stripe-wordmark-white-small" border="0"></a></li>
            </ul>
        </div>

        <div class="col-md-5 offset-md-1 mb-3">
            <form class="text-white">
              <h5 class="fw-bold">Subscribe to our newsletter</h5>
              <p class="fw-light">Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
        </div>
  
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top border-secondary ">
            <p>© 2024 ecoworld, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="https://twitter.com/"><img height="28px" src="static\img\x-logo.png" class="logo"></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.facebook.com/"><img height="28px" src="static\img\facebook-logo.png" class="logo"></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/"><img height="28px" src="static\img\instagram-logo-white.png" class="logo"></a></li>
            </ul>
        </div>
    </footer>
</div>