<nav class="navbar navbar-expand-lg py-2 bg-dark border-bottom border-secondary fixed-top">
    <div class="container d-flex flex-wrap text-light-emphasis ">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a class="nav-link link-light px-2 active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light px-2" aria-current="page" href="#">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light px-2" aria-current="page" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light px-2" aria-current="page" href="/contactUs">Contact Us</a>
            </li>
        </ul>
        <div class="text-end">
            <a href="/login" class="text-light text-decoration-none me-2 fw-semibold">
                <button type="button" class="btn btn-light me-2 fw-semibold">Login</button>
            </a>
            <a href="#" class="text-light text-decoration-none me-2 fw-semibold">
                <button type="button" class="btn btn-dark fw-semibold">Sign-Up</button>
            </a>
        </div>
    </div>
</nav>
<header id="logo-header" class="py-2 mb-4 border-bottom bg-dark border-secondary" style="margin-top: 56px;">
    <div class="container d-flex flex-wrap justify-content-center align-items-center">
        <div class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto">
            <a href="/" class="text-dark text-decoration-none">
                <img width="65" height="65" src="https://i.ibb.co/7SwggJr/App-Dev-Logo.png" alt="App-Dev-Logo" border="0">
            </a>
            <span class="ms-2 text-white fw-bold fs-1"><span class="ms-2 text-success fw-bold fs-1">eco</span>world</span>
        </div>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" >
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>