{% extends "base.html" %}
{% block title %} Blog | ecoworld {% endblock %}
{% block content %}
<br><br>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">ecoworld Charity Drive Is Here!</h5>
                    <p class="card-text">In our continuous pursuit of creating a more sustainable and compassionate world, we are thrilled to announce the launch of our Charity Drive! Eco World is not only committed to offering eco-friendly products but also to giving back to our global community...</p>
                    <a href="#" class="text-light text-decoration-none">
                        <button type="button" class="btn btn-dark">Read More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Black Friday Sale!</h5>
                    <p class="card-text">Get ready to indulge in guilt-free shopping as we roll out incredible discounts on our curated range of eco-friendly products. Whether you're looking to stock up on sustainable essentials, upgrade to energy-efficient appliances, or treat yourself to organic goodies, now is the perfect time!...</p>
                    <a href="#" class="text-light text-decoration-none">
                        <button type="button" class="btn btn-dark">Read More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">ecoworld's Monthly Lucky Draw!</h5>
                    <p class="card-text">We are thrilled to announce that Eco World is hosting a special Lucky Draw Event to express our gratitude for your unwavering support and commitment to sustainable living...</p>
                    <a href="#" class="text-light text-decoration-none">
                        <button type="button" class="btn btn-dark">Read More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}
