{% extends "base.html" %}
{% block title %}Item Management Interface | ecoworld{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="container my-4 pb-2">
<h1>Add Item</h1>
    <form method = "POST" action="" enctype="multipart/form-data">
        <div class = "form-group">
            <input type="file" name="cover" id="cover-photo" class="form-control">
        </div>
        <br>
        <div class = "form-group">
          {{ render_field(form.name, class = "form-control") }}
        </div>
        <br>
        <div class = "form-group">
          {{ render_field(form.description, class = "form-control") }}
        </div>
        <br>
        <div class = "form-group">
          {{ render_field(form.price, class = "form-control") }}
        </div>
        <br>
        <div class = "form-group">
            {{ render_field(form.stock_count, class = "form-control") }}
        </div>
        <br>
        <div class = "form-group">
            {{ render_field(form.dimensions, class = "form-control") }}
        </div>
        <br>
        <div class = "form-group">
            {{ render_field(form.supplier, class = "form-control") }}
        </div>
        <br>
        <div class = "form-group">
            {{ render_field(form.category, class = "form-control") }}
        </div>
        <br>
        <input type = "submit" value = "Submit" class = "btn btn-primary"/>
        <br>
    </form>
</div>
  {% endblock %}