{% extends "base.html" %}
{% block title%} Address | ecoworld {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field%}

<style>
  .custom-card {
      background-color: #f0f0f0; /* Light grey color */
      border: 1px solid #ccc;
  }
      .custom-card {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
    }
</style>

<h1 class="text-center">Address</h1>
<p>Please fill in your address</p>

<div class="container col-md-7 mt-4 card custom-card">
  <form method="POST" action="">
    <div class="form-row">
      <div class="form-group col-md-6">
        {{ render_field(form.name, class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.address, class="form-control") }}
      </div>
    </div>
    <div class="form-group col-md-6">
      {{ render_field(form.postal_code, class="form-control") }}
    </div>
    <div class="form-group col-md-6">
      {{ render_field(form.email_address, class="form-control") }}
    </div>
    <div class="form-group col-md-6">
      {{ render_field(form.contact_number, class="form-control") }}
    </div>
    <input type="submit" value="Update" class="btn btn-success my-3"/>
  </form>
</div>
{% endblock %}