{% extends "base.html" %}
{% block title %}Library Loan System - Shipping{% endblock %}

{% block content %}
    <style>
        .custom-btn-width {
            width: 100%;
        }

        .custom-btn-height {
            height: 150%;
        }
    </style>
    <h1 class="text-center">Shipping Options</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <input type="submit" value="Doorstep Delivery" class="btn {% if current_page == 'doorstepDelivery.html' %}btn-secondary active-button{% else %}
                btn-success{% endif %} custom-btn-width custom-btn-height" onclick="redirectToPage('/doorstepDelivery')">
            </div>
            <div class="col-md-3">
                <input type="submit" value="Self-Collection" class="btn {% if current_page == 'selfcollect.html' %}btn-secondary active-button{% else %}
                btn-success{% endif %} custom-btn-width custom-btn-height" onclick="redirectToPage('/shipping/selfcollect')">
            </div>
            <div class="col-md-3">
                <input type="submit" value="Network Collection" class="btn {% if current_page == 'netcollect.html' %}btn-secondary active-button{% else %}
                btn-success{% endif %} custom-btn-width custom-btn-height" onclick="redirectToPage('/shipping/netcollect')">
            </div>
            <div class="col-md-3">
                <input type="submit" value="Pick-Lockers" class="btn {% if current_page == 'picklock.html' %}btn-secondary active-button{% else %}
                btn-success{% endif %} custom-btn-width custom-btn-height" onclick="redirectToPage('/shipping/picklock')">
            </div>
        </div>
    </div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Address</th>
        <th>Postal Code</th>
        <th>Postal Code</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
     <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{ user.get_name() }}</td>
        <td>{{ user.get_contact_number() }}</td>
        <td>{{ user.get_address() }}</td>
        <td>{{ user.get_postal_code() }}</td>
        <td>{{ user.get_email_address() }}</td>
        <td><a href="/updateUser/{{user.get_user_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_user', id=user.get_user_id())}}" method="POST">
>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{user.get_user_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{user.get_user_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{user.get_name()}} ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<script>
    function redirectToPage(page) {
    console.log('Redirecting to:', page);
    window.location.href = page;
}
</script>
{% endblock %}